/* Start Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    list-style: none;
    color: black;
}



.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/*start header*/
header {
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.2);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 100px;
}

@media(max-width:1100px) {
    nav ul {
        flex-direction: column-reverse;
        align-items: end;
        position: fixed;
        text-align: right;
        top: 0;
        right: -3000px;
        height: 100vh;
        width: 220px;
        padding: 50px 30px 0 0px;
        transition: 0.3s;
        background-color: white;
    }

}

nav ul li {
    margin-left: 25px;
    text-decoration: none;
    list-style: none;
    padding: 10px;
    transition: 0.2s;
    padding-top: 25px;
}

@media(max-width:1200px) {
    nav ul li {
        margin-bottom: 10px;
        color: white;
        text-align: right;
    }
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: 700;
    transition: 0.2s;
}

nav ul li a:hover {
    color: rgb(192, 0, 0);

}

#bar {
    font-size: 30px;
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(120.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    display: none;
}

#close {
    position: absolute;
    top:80px;
    left: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    display: none;
    cursor: pointer;
    background: linear-gradient(120.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width:1100px) {
    #bar {
        display: block;
        margin-right: 50px;
    }

    #close {
        display: block;
    }
}

@media(max-width:768px) {
    #bar {
        margin-right: 10px;
    }

}

.logo img {
    width: 280px;
    height: 80px;
    top: -10px;
    padding: 0px 103px 3px 0px;

}

@media(max-width:768px) {
    .logo img {
        width: 230px;
        height: 50px;
        padding: 0px 103px 3px 0px;

    }

}






/*start landing */
.landing {
    text-align: right;
}

.landing .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

@media(max-width:992px) {
    .landing .container {
        flex-wrap: wrap;
        text-align: center;
        height: 50vh;

    }

}

@media(max-width:768px) {
    .landing .container {
        text-align: center;
        height: 80vh;
        padding-top: 15px;
    }

}
.landing .text{
    margin-top: 50px;
}
.landing h1 {
    line-height: 51px;
    font-size: 45px;
    font-weight: 300;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 25px;
}

@media(max-width:992px) {
    .landing h1 {
        margin-top: 10px;
    }

}

.landing p {
    flex: 1;
    line-height: 36px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

.landing img {
    width: 514px;
    height: 446px;
    gap: 0px;
    opacity: 1;
    margin-right: 50px;
    border-radius: 30px;
}


@media(max-width:992px) {
    .landing img {
       display: none;
    }


}

@media(max-width:768px) {
    .landing img {
        display: none;
    }

}

.landing .color {
    background: linear-gradient(0.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-weight: 700;
    font-size: 60px;
}


.contact-btn{
    width: 150px;
    height: auto;
    background: linear-gradient(120.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-right: 0px;
    transition: 0.3s;
    margin-bottom: 50px;
}
.contact:hover{
    transform: scale(1.1);
}

/*end landing*/
/* Start services */
.portfolio {
    padding: 50px 0;
}

.heading {
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(120.3deg, rgb(0, 0, 0) .6%, rgb(255, 0, 0) 97.7%);
    background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
    background-color: var(--section-background);
}

@media(max-width:768px) {
    .portfolio .portfolio-content {
        text-align: center;
    }
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content img {
    max-width: 100%;
    padding: 10px;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
}

.portfolio .portfolio-content .card .info p {
    color: #444;
    line-height: 1.8;
    margin-bottom: 0;
    font-size: 18px;
    text-align: right;

}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.ff {
    width: 200px;
    height: 50px;
    background: linear-gradient(120.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

/* End services */
/* start about */
.about {
    padding: 50px 0;
}

.about h2 {
    padding-bottom: 55px;
    font-size: 60px;
    text-align: center;
}
@media(max-width:768px){
    .about h2 {
        font-size: 45px;
        padding-bottom: 25px;

    }
}
.about p {
    padding-bottom: 25px;
    text-align: right;
    padding-top: 25px;
}

.tittle {
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkslateblue;
    font-weight: bold;
    text-align: right;
    margin-top: 50px;
}

.bref {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bref img {
    width: 400px;
    height: 320px;
    margin-right: 50px;
    border-radius: 30px;
}
@media(max-width:992px){
    .bref img{
        display: none;
    }
}
/* End about */

/*start contact*/
  
.contact-us .content-contact {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-top: 50px;
  }
  
  @media(max-width:1200px) {
    .contact-us .content-contact {
      flex-direction: column;
    }
  }
  @media(max-width:768px) {
    .contact-us .content-contact {
  margin-top: 30px;    
    }
  }
  .contact-us .contact-tittle h4{
    color: #777;
    text-transform: capitalize;
    margin-top: 50px;
  }
  .contact-us .contact-tittle h1{
    background: #000046;  
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(120.3deg, rgb(0, 0, 0) .6%, rgb(255, 0, 0) 97.7%);
    background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0;
  }
  @media(max-width:768px){
    .contact-us .contact-tittle h1{
      font-size: 30px;
    
    }
    .contact-us .contact-tittle h4{
      font-size: 22px;
    }
  }
  .contact-us .content-contact form {
    flex-basis: 70%;
    font-size: 20px;
  }
  
  .contact-us .content-contact form .main-input {
    padding: 20px;
    display: block;
    border: none;
    margin-bottom: 30px;
    width: 100%;
    background-color: #212121;
    color: white;
    border-radius: 25px;
  }
  @media(max-width:768px){
    .contact-us .content-contact form .main-input {
        width: 100%;
    }

  }
  .contact-us .content-contact form .main-input::placeholder {
   color: #888888;
  }
  .contact-us .content-contact form .main-input:focus {
   outline: none;
   box-shadow: #084da6 1px 1px 2px 3px;
   background-color: #212121;
  }
  
  .contact-us .content-contact form textarea.main-input {
    height: 200px;
  }
  .contact-us .content-contact form input[type="submit"] {
    background: linear-gradient(120.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    margin-bottom: 50px;
    padding: 15px;
    border: none;
    color: aliceblue;
    display: flex;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    margin-left: 30px;
  }
  .contact-us.content-contact form input[type="submit"]:hover{
    transform: translateX(-10px);
  }
  
  .contact-us img {
    max-width: 100%;
    margin-left: 100px;
    background: none;
  }
  @media(max-width:992px){
    .contact-us img {
    width: 100%;
    margin: 0;
    margin-top: 70px;
    display: none;
    }
  }
  @media(max-width:768px){
    .contact-us img {
     display: none;
    }
  }

    /*end contact*/


    /*start work*/

    .work-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work h2 {
    margin: 50px 0 50px 0;
  }
  @media(max-width:1200px){
    .work-content{
        flex-direction: column;
      }
  }
  .work-content .text {
    padding: 25px;
  }
  .work-content .text1 {
    padding: 25px;
    width: 100%;
  }
  .work-content .gallery {
    padding: 25px;
    flex-basis: 1;
    
  }
  @media (max-width:768px){
    .work-content .gallery {
        padding: 0;
        
      }
}
 
.work-content h2{
    color: black;
    line-height: 2;
    text-align: right;

} 
@media (max-width:768px){
    .video{
        padding: 50px !important;
        width:40 !important;
         height :260 !important;
    }
}
.video{
    width:640;
     height :360;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid ;
    width: 60%;
    position: relative ;
    top: 0;
    left:350px;
    height: 50px;
    color: darkred;
    margin-bottom: 50px;

}
@media (max-width:768px){
    .line{
        left: 0;
        width: 100%;
        margin-bottom: 50px;
    }
}
.gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.gallery img {
    height: 400px;
    width: 650px;
  }
.slider {
    width: 600%;
    display: flex;
}

.slide {
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev {
    left: 25px;
}

.next {
    right: 170px;
}
@media (max-width:768px){
    .prev {
        left: 35px;
    }
    
    .next {
        right: 5px;
    }
}
.carousel-item img{
    height: 400px;
    width: 350px;
    padding-left: 25px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}
    /*end work*/


  /*start projects*/
  .projects{
    padding: 50px 0px;
  }

  .projects .tittle h1{
    background: linear-gradient(120.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);

background-clip: text; 
-webkit-text-fill-color: transparent;

font-weight: bold;
font-size: 45px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;

  }
 
  .projects .projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 70px;
    background-color: var(--section-background);
  }
  @media(max-width:768px){
    .projects .projects-content{
      text-align: center;
    }
  }
  .projects .projects-content .card{
background-color: transparent;
border: 2px solid #5b5b5b;
  }
  .projects .projects-content img{
    width: 350px;
    height: 350px;
    max-width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
 
  .projects .projects-content img:hover{
  transform:translateY(-4px);
  }
  .projects .projects-content .card .info{
    padding: 25px;
  }
  .projects .projects-content .card .info h3{
margin: 0;
color: black;
font-size: 22px;
font-weight: bold;
margin-bottom: 10px;
text-transform: uppercase;
padding-bottom: 15px;
  }
  .projects .projects-content .card .info p{
    color: #575757;
    line-height: 1.2;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
  }
   .projects .btn {
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .projects .view{
    width: 180px;
    height: 50px;
    font-size: 22px;
    font-weight: bolder;
    background-color: white;
    color: darkblue;
  text-align: center;
  border-radius: 25px;
  margin-top: 60px;
  text-transform: uppercase;
  border: none;
  transition: 0.5s;

}
.projects .view:hover{
    background: linear-gradient(120.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);

  color: white;
}

.projects .view i{
  padding-right: 5px;
}

  /*end projects*/









    /* .carousel-inner   {
        display: flex;
        justify-content:space-around;
    }
    .carousel-inner img {
        width: 70%;
        height: 500px;
        padding-right: 300px;
        margin-bottom: 100px;
    }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: black; 
        color: white; 
      } */
    

/*start footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    /* background-color: #802201; */
    background: linear-gradient(20.3deg, rgb(0, 0, 0) .6%, rgb(255, 0, 0) 107.7%);

    padding: 50px 5px 50px 0;
}

@media(max-width:767px) {
    footer {
        justify-content: center;

    }
}

footer h1 {
    color: white;
    position: relative;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 20px;
}

footer p {
    color: white;
}

footer .abbout {
    width: 300px;
}

@media(max-width:992px) {
    footer .abbout {
        margin-bottom: 35px;
    }
}
footer h1 {
    font-size:35px ;
}
footer p {
    font-size: 18px;
    line-height: 1.8;
}
 .linkk {
    display: flex;
    flex-direction: column;
    list-style: none;

}

.linkk a {
    color: white;
}

.address i {
    color: white;
    font-size: 22px;
    padding: 20px;
}

.address h4 {
    color: white;
    text-align: right;
}
.address a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.hourss .dayy {
    padding-bottom: 15px;
}
.hourss .dayy h3,
h2 {
    color: white;
    font-weight: bolder;
    font-size: 18px;
}

footer .social {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    color: white;
}

footer .social i {
    border: 1px solid white;
    border-radius: 100%;
    padding: 15px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: white;
}

footer .social i:hover {
    background-color: white;
    color: black;
    transform: translateY(-10px);
}

footer .hourss {
    width: 300px;
}

@media(max-width:992px) {
    footer .hourss {
        margin-top: 50px;
        margin-bottom: 35px;
    }
}

.hourss .dayy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

/*end footer*/
.copy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(10.3deg, rgb(0, 0, 0) .6%, rgb(255, 0, 0) 107.7%);
}

.copy h1 {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px 0 15px 0;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media(max-width:800px) {
    .copy h1 {
        font-size: 14px;
    }
}

@media(max-width:768px) {
    .copy h1 {
        font-size: 12px;
    }
}